@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* base */
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--Dark-cyan);
  overflow: hidden;
}
.continer {
  margin: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card {
  display: flex;
  background-color: white;
  padding: 0px;
  margin: 100px;
  width: 20em;
  height: 23em;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  flex-direction: column;
  z-index: 3;
}
.card div:first-child {
  position: relative;
}
.img-top {
  overflow: hidden;
  width: 20em;
  height: 9em;
  object-fit: cover;
}
.img-top img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 9em;
}
.img-mid {
  flex-direction: column;
  display: flex;
  height: 150px;
  position: relative;
}
.pro-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.pro-pic img {
  display: block;
  border-radius: 50%;
  border: solid 5px #fff;
}
h1 {
  position: absolute;
  display: flex;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.city {
  font-size: 0.8rem;
  color: var(--Dark-gray);
}

.text-1 {
  display: block;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: normal;
  color: var(--Very-dark-desaturated-blue);
}
.img-mid .age {
  font-size: 16px;
  color: var(--Dark-gray);
}
.info {
  display: flex;
  letter-spacing: normal;
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translateX(-50%);
  z-index: 3;
}
.info div {
  font-size: 15px;
  margin: 15px;
  padding: 2px;
}
.info-k {
  display: block;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  text-align: center;
}
.info div p {
  color: var(--Dark-gray);
}
.bubble-top {
  position: absolute;
  width: 978px;
  height: 978px;
  bottom: 26%;
  right: 50%;
}
.bubble-bottom {
  position: absolute;
  width: 978px;
  height: 978px;
  left: 52%;
  top: 44%;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .bubble-bottom {
    position: absolute;
    width: 50%;
    height: 60%;
    left: 50%;
    top: 44%;
    overflow: hidden;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .continer {
    margin: 0px;
    width: 100%;
    height: 60%;
  }
  .card {
    margin: 10px;
    height: 100%;
  }
  .info {
    top: 66%;
  }
  .attribution {
    display: none;
  }
}
